<h1>L'équipe</h1>

<div class="rounded-card">
  <p>Notre équipe de professionnels élevés au grain :</p>
  <div class="team-wrapper">
    <div class="team-profile">
      <%= image_tag("avatar-5.svg")%>
      <p>Pierre</p>
    </div>
    <div class="team-profile">
      <%= image_tag("avatar-4.svg")%>
      <p>Lucas</p>
    </div>
    <div class="team-profile">
      <%= image_tag("avatar-1.svg")%>
      <p>Cédric</p>
    </div>
    <div class="team-profile">
      <%= image_tag("avatar-2.svg")%>
      <p>Laurent</p>
    </div>
    <div class="team-profile">
      <%= image_tag("avatar-3.svg")%>
      <p>Mathias</p>
    </div>
  </div>
</div>
