<!DOCTYPE html> 
<html>
  <head>
    <title>Le Projet Potin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <nav>
    <div class="navigation-div">
      <p><%= link_to "Accueil", index_path %></p>
      <p><%= link_to "L'équipe", team_index_path %></p>
      <p><%= link_to "Nous contacter", contact_index_path %></p>
    </div>

    <div class="sign-up-div">
    <% if !logged_in?() %>
      <p class="sign-up-btn"><%= link_to "Inscription", new_user_path %></p>
      <p><%= link_to "Connexion", new_session_path %></p>
    </div>
    <% else %>
      <p> Bonjour, <%= current_user.first_name %> </p>
      <p> <%= link_to "Se déconnecter", session_path(session.id), method: :delete %> </p>
    <% end %>
  </nav>
    <%= yield %>
    
  </body>
</html>
